{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">

        <h2> Listado de Entradas! </h2>
        <hr/>
        {%for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{message}}</div>
            <hr/>
        {%endfor%}
        <a href="{{path("blog_add_entry")}}" class="btn btn-success">Añadir entrada</a>
        <hr/>
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tags</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {%for entry in entries %}
                <tr>
                    <th><img src="{{asset("uploads/"~entry.image)}}" width="100"> </th>
                    <td>{{entry.title}}</td>
                    <td>{{entry.content}}</td>
                    <td><ul>{% for et in entry.entryTag %} <li>{{et.tag.name}} </li>{% endfor %}</ul></td>
                    <td><a href="{{path("blog_edit_entry",{id:entry.id})}}" class="btn btn-warning"><i class="fas fa-edit"></i></a></td>
                    <td><a href="{{path("blog_delete_entry",{id:entry.id})}}" class="btn btn-danger">X</a> {{dump(entry)}} </td>
                </tr>
            {%endfor%}
        </table>
    </div>
    <div class="clearfix">
    </div>
{% endblock %}